{% extends 'cover.twig' %}

{% block siteTitle %}Another modern URL shorten service. | Minur.co{% endblock %}

{% block meta %}

    <meta property="og:url" content="{{ uri.base.full }}">
    <meta property="og:site_name" content="Minur.co">
    <meta property="og:title" content="Minur.co | Another modern & secure URL shorten service.">
    <meta property="og:description" content="Another modern & secure URL shorten service.">
    <meta property="og:image" content="{{ uri.media.full }}images/ogimg.jpg">
{% endblock %}

{% block style %}
{{ parent() }}    <link rel="stylesheet" href="{{ uri.media.path }}js/pickday/css/pikaday.css" />
{% endblock %}

{% block script %}
{{ parent() }}<script src="{{ uri.media.path }}js/moment.js"></script>
    <script src="{{ uri.media.path }}js/pickday/pikaday.js"></script>
{% endblock %}

{% block main_body %}
   <script>
       jQuery(document).ready(function($)
       {
           var picker = new Pikaday({
               field: document.getElementById('expiredTime'),
               format: 'YYYY-MM-DD'
           });
       });
   </script>
   <div id="index-form" class="row">
       <form action="{{ uri.base.path }}" method="post" id="entryForm" name="entryForm">
           <h1>Make Your URL Shorter</h1>

           <div class="form-group col-md-12">
               <input type="text" name="entry[url]" class="form-control input-lg" id="entryUrl" placeholder="Enter URL for short">
           </div>

           <p class="form-url-desc">
               Paste your long url here to shorten, or drag <a class="text-info" href="javascript:location.href='{{ uri.base.full }}?entry[preview]=1&create=' + encodeURIComponent(location.href);">Minur.co</a> to bookmark.
           </p>
           <p>
               Your can also use <code>{{ uri.base.full }}?create=URL</code> to quickly generate URL.
           </p>

           <div class="col-md-10 col-md-offset-1 form-horizontal">

               <div class="checkbox">
                   <label>
                       <input type="checkbox" name="entry[preview]" class="" value="1" checked> Preview and secure
                   </label>
               </div>

               <div class="panel-group" id="accordion">
                   <div class="panel panel-default">
                       <div class="panel-heading">
                           <h4 class="panel-title">
                               <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                   <span class="glyphicon glyphicon-plus-sign"></span> Advanced Options
                               </a>
                           </h4>
                       </div>
                       <div id="collapseOne" class="panel-collapse collapse">
                           <div class="panel-body">
                               <div class="form-group">
                                   <label for="customUrl" class="col-sm-3 control-label">Custom URL</label>
                                   <div class="col-sm-6">
                                       <input type="text" name="entry[alias]" class="form-control" id="customUrl" placeholder="My custom URL">
                                   </div>
                               </div>

                               <div class="form-group">
                                   <label for="expiredTime" class="col-sm-3 control-label">Expired</label>
                                   <div class="col-sm-6">
                                       <input type="text" name="entry[expired]" class="form-control" id="expiredTime" placeholder="Expired Time">
                                   </div>
                               </div>

                               <div class="form-group">
                                   <label for="password" class="col-sm-3 control-label">Password</label>
                                   <div class="col-sm-6">
                                       <input type="text" name="entry[password]" class="form-control" id="password" placeholder="Password" autocomplete="off">
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

               <div class="form-buttons">
                   <button class="btn btn-primary btn-block btn-lg">Short this URL</button>
               </div>
           </div>

           <div style="clear: both;"></div>
       </form>

       <div class="footer" style="margin-top: 100px;">
           <a href="{{ uri.base.path }}recent"><span class="text-muted">Recent urls</span></a>
       </div>
   </div>
{% endblock %}
