{% extends 'cover.twig' %}

{% block siteTitle %}{{ meta.title }} | Minur.co{% endblock %}

{% block meta %}
    <meta property="og:url" content="{{ uri.base.request }}">
    <meta property="og:site_name" content="Minur.co">
    <meta property="og:title" content="{{ meta.title }} | Minur.co">
    <meta property="og:description" content="{{ meta.desc }}">
    <meta property="og:image" content="http://s.wordpress.com/mshots/v1/{{ url.url|url_encode }}">
{% endblock %}

{% block main_body %}
    <style>
        .masthead
        {
            position: static;
        }
    </style>
    <div id="preview-wrap" class="row">
        <h1>{{ meta.title ? : 'URL Preview' }}</h1>

        <div class="preview-img-wrap row">
            <div class="col-md-8 col-md-offset-2">
                <img style="max-width: 90%; border-radius: 5px" src="http://s.wordpress.com/mshots/v1/{{ url.url|url_encode }}" alt="Preview" />
            </div>
        </div>
        
        <h3>The Original URL</h3>
        <div class="row">
            <div class="form-group col-md-12">
                <input type="text" class="form-control input-lg url-input" disabled value="{{ url.url }}"/>
            </div>
        </div>
        <div class="preview-go-button-wrap row">
            <div class="col-md-8 col-md-offset-2">
                {% if (safe) %}
                <a class="btn btn-primary btn-lg btn-block" href="{{ url.url }}">
                    GO!
                </a>
                {% else %}
                <div class="alert alert-danger">
                    <h4>Danger: Malware Ahead!</h4>
                    <p>This page has been reported to Google that it contains malware.</p>
                    <a class="btn btn-danger btn-block" href="{{ url.url }}">
                        I still want to GO!
                    </a>
                </div>

                {% endif %}
            </div>
        </div>

        <div class="footer">
            <div class="text-muted">
                Safe Browsing Powered by <a href="http://google.com"><img src="https://www.google.com/images/logos/google_logo_41.png" alt="Google" width="75px"/></a>
            </div>
        </div>
    </div>
{% endblock %}
